

<div class="overlay"></div>

<div class="card">
  <div class="icon">🎵</div>
  <h1>Welcome to TuneHub</h1>
  <p class="subtitle">Play. Share. Grow.</p>
  <p class="text">Join thousands of musicians worldwide</p>

  <button class="btn login" onclick()>🚀 Log In</button>
  <button class="btn signup">✨ Sign Up Free</button>

  <p class="guest">Continue as Guest</p>

  <p class="terms">
    By signing up, you agree to our <a href="#">Terms</a> & <a href="#">Privacy Policy</a>
  </p>
</div>
<p>login-window works!</p>

<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>


