@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at top, #0b0c2a, #050516);
  height: 100vh;
  color: white;
  position: relative;
  overflow: hidden;
}

/* שכבת הרקע */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle at top, #0b0c2a, #050516); */
  z-index: 1000;
}

/* כרטיס הכניסה */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(20, 22, 50, 0.9);
  padding: 40px 60px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 30px rgba(80, 0, 255, 0.2);
  width: 320px;
  z-index: 2000;
}

.icon {
  font-size: 42px;
  background: linear-gradient(135deg, #a855f7, #3b82f6);


  /* יוצרים מסכה על הטקסט */
  color: black;
  -webkit-mask-image: linear-gradient(90deg, #fff, #fff);
  -webkit-mask-clip: text;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-image: linear-gradient(90deg, #fff, #fff);
  mask-clip: text;
  mask-repeat: no-repeat;
  mask-size: 100%;


 

    color: transparent;
  
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.subtitle {
  color: #a78bfa;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 4px;
}

.text {
  color: #94a3b8;
  font-size: 0.9em;
  margin-bottom: 30px;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 16px;
  transition: 0.3s;
}

.login {
  background: linear-gradient(90deg, #ec4899, #3b82f6);
  color: white;
}

.login:hover {
  opacity: 0.9;
}

.signup {
  background: transparent;
  border: 2px solid #a855f7;
  color: white;
}

.signup:hover {
  background: rgba(168, 85, 247, 0.1);
}

.guest {
  color: #94a3b8;
  font-size: 0.9em;
  margin-top: 10px;
}

.terms {
  margin-top: 20px;
  font-size: 0.75em;
  color: #64748b;
}

.terms a {
  color: #a855f7;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

/* טקסט לבדיקה */
p {
  text-align: center;
  color: #94a3b8;
  margin-top: 20px;
}
