<header>


  <mat-icon (click)="sidebarService.toggle(); $event.stopPropagation()"
    style="color: rgb(65, 126, 231);">menu</mat-icon>
  <div class="logo" (click)="goToHomePage()">
    <img class="logo-pic" src="./assets/images/LOGO.png" alt="Logo" />
    <!-- <div id="logo-name">
      <p id="app-name">TuneHub</p>
      <div class="app-slogan">
        <span class="play">Play.</span>
        <span class="share">Share.</span>
        <span class="grow">Grow.</span>
      </div>
    </div> -->

  </div>

  <!-- אייקונים בצד ימין -->
  <div class="right-icons">
    <!--     
    <span class="icon">🔔</span>
    <span class="icon">⚙️</span>
    <div class="profile" (click)="goToProfile()">
      <img src="assets/images/user_icon.png" alt="User" />
    </div> -->



    <div class="search-container" onclick="document.getElementById('q').focus()">
      <mat-icon>search</mat-icon>
      <input id="q" class="search-input" type="search" placeholder="Search musicians, teachers, sheets music, posts"
        (input)="onSearchInput($event)" />


    </div>

    <div id="musicans" class="button" (click)="goToFindMusicians()">
      Find Musicians <mat-icon>group</mat-icon>
    </div>




  </div>
  <!-- <mat-icon>notifications</mat-icon> -->


  @if (isLoggedIn$ | async) {
    <div class="notification-wrapper" (click)="navigateToNotifications()">

    <mat-icon>notifications_none</mat-icon>

    <ng-container *ngIf="(unreadCount$ | async) as count">
        <div *ngIf="+count > 0" class="notification-badge">
            {{ count }}
        </div>
    </ng-container>




</div>
  <app-profile-mini-avatar></app-profile-mini-avatar>
  <!-- אייקון התראות -->
       
  }
  @else {
  <div id="get-started" class="button" (click)="loginwindowService.open()">
    Get Started
  </div>
  }

</header>

<!-- Overlay -->
<!-- <div ngIf="!isSidebarOpen" class="overlay"
  (click)="closeSidebar()"></div> -->
<!-- <app-global-search
  *ngIf="showSearchBox"
  [query]="searchQuery">
</app-global-search> -->
@if (isSearchOpen) {
<app-global-search [query]="searchTerm"></app-global-search>
}