<header>


    <mat-icon (click)="sidebarService.toggle(); $event.stopPropagation()" style="color: rgb(43, 218, 23);">menu</mat-icon>
  <div class="logo" (click)="goToHomePage()">
    <img class="logo-pic" src="./assets/images/LOGO.png" alt="Logo" />
    <!-- <div id="logo-name">
      <p id="app-name">TuneHub</p>
      <div class="app-slogan">
        <span class="play">Play.</span>
        <span class="share">Share.</span>
        <span class="grow">Grow.</span>
      </div>
    </div> -->

  </div>

  <!-- אייקונים בצד ימין -->
  <div class="right-icons">
    <!--     
    <span class="icon">🔔</span>
    <span class="icon">⚙️</span>
    <div class="profile" (click)="goToProfile()">
      <img src="assets/images/user_icon.png" alt="User" />
    </div> -->



    <div class="search-container" onclick="document.getElementById('q').focus()">
      <!-- אייקון SVG של זכוכית מגדלת -->
      <mat-icon>search</mat-icon>

      <!-- שדה החיפוש -->
      <input id="q" class="search-input" type="search" placeholder="Search musicians, tracks, lessons..."
        aria-label="חפש" />

      <!-- תצוגת קיצור מקשים (אופציונלי) -->
      <!-- <div class="kbd-hint" aria-hidden="true">⌘K</div> -->
    </div>

    <div id="musicans" class="button" (click)="goToFindMusicians()">
      Find Musicians <mat-icon>group</mat-icon>
    </div>




  </div>
  <!-- <mat-icon>notifications</mat-icon> -->


@if (isLoggedIn$ | async) {
        <app-profile-mini-avatar></app-profile-mini-avatar>
    } 
    @else {
        <div id="get-started" class="button" (click)="loginwindowService.open()">
            Get Started
        </div>
    }

</header>

<!-- Overlay -->
<!-- <div ngIf="!isSidebarOpen" class="overlay"
  (click)="closeSidebar()"></div> -->
