.comments-container {
  width: 100%;
  max-width: 100%;
  max-height: 300px;
  overflow-y: auto;
  padding: 15px;
  border: 3px solid #4e0058;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #1C2737;
  margin-left: -10px;
}

.comments-scroll {
  /* max-height: 70vh; */
  overflow-y: hidden;
}

.comment-item {
  border: 2px solid #565656;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #1C2737;
  color: #ffffff;
  border-radius: 8px;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #ffffff;
}

.comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-user-info {
  display: flex;
  flex-direction: column;
}

.comment-username {
  font-weight: bold;
  color: #ffffff;
}

.comment-date {
  font-size: 0.8em;
  color: #7a7a7a;
}

.comment-content {
  color: #ffffff;
  margin-bottom: 5px;
}

.comment-item .likes {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.like-count {
  color: #ffffff;
}

.comments-container button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 8px 0;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments-wrapper {
  width: 100%;
  box-sizing: border-box;
}