<div class="comments-container" (scroll)="onScroll($event)">
  <div *ngFor="let c of comments" class="comment-item">
    <div class="comment-header">
<img 
  class="comment-avatar" 
  [src]="fileUtilsService.getImageUrl(c.profile!.imageProfilePath || null)" 
  alt="avatar"
/>
      <span class="comment-username">{{ c.profile.name }}</span>
    </div>

    <p class="comment-content">{{ c.content }}</p>
    <small class="comment-date">{{ c.dateUploaded }}</small>
     <span class="stat-item likes" (click)="toggleLike(c)">
            <mat-icon style="color: #f0ff6c;" [ngClass]="c.isLiked ? 'liked' : 'not-liked'">
              {{ c.isLiked ? 'thumb_up' : 'thumb_up_off_alt' }}
            </mat-icon>
            <span class="like-count">{{ c.likes }}</span>
          </span>
    <hr>
  </div>

  <button *ngIf="page < totalPages" (click)="loadComments()">
    Load More
  </button>
</div>
