<div class="search-results-container" (click)="$event.stopPropagation()">

    @if(results){

    <h4 class="results-count">{{ resLength }} results found </h4>

    <div *ngIf="results.posts.length" class="section">
        <h4 class="section-title"><mat-icon>description</mat-icon> Posts ({{ results.posts.length }})</h4>

        <div *ngFor="let post of results.posts" class="result-item row post-item">
            <div class="left-icon">
                <svg viewBox="0 0 24 24" class="icon">
                    <path d="M3 3h18v14H7l-4 4V3z" />
                </svg>
            </div>

            <div class="main-content">

                <div class="title-row">
                    <div class="title" [innerHTML]="post.title | highlight: query"></div>
                    <div class="right-tag">
                        <span class="search-tag posts">Posts</span>
                    </div>
                </div>

                <div class="meta">
                    <span class="username">{{ post.userName }}</span>
                    <span class="dot">·</span>
                    <span class="time">{{ post.dateUploaded | timeAgo }}</span>
                </div>

            </div>


        </div>
    </div>

    <div *ngIf="results.sheetMusic.length" class="section">
        <h4 class="section-title"><mat-icon>description</mat-icon> Sheets Music ({{ results.sheetMusic.length }})</h4>

        <div *ngFor="let sheet of results.sheetMusic" class="result-item row sheet-item"
            (click)="goToSheetMusic(sheet)">
            <div class="avatar cover-avatar">
                <img [src]="fileUtilsService.getImageUrl(sheet.imageCoverName)" alt="cover">
            </div>

            <div class="main-content">
                <div class="title-row">
                    <div class="title" [innerHTML]="sheet.title | highlight: query"></div>
                    <div class="right-tag">
                        <span class="search-tag sheet">Sheet</span>
                    </div>
                </div>

                <div class="meta small">
                    <span class="username">{{ sheet.userName }}</span>
                    <span class="dot">·</span>
                    <span class="time">{{ sheet.dateUploaded | timeAgo }}</span>
                </div>

            </div>

        </div>
    </div>

    <!-- Musicians -->
    <div *ngIf="results.musicians.length" class="section">
        <h4 class="section-title"><mat-icon>people</mat-icon> Musicians ({{ results.musicians.length }})</h4>

        <div *ngFor="let musician of results.musicians" class="result-item row musician-item"
            (click)="goToProfile(musician.profile.id)">
            <div class="avatar profile-avatar">
                <img [src]="fileUtilsService.getImageUrl(musician.profile.imageProfilePath)" alt="profile">
            </div>

            <div class="main-content">
                <div class="title-row column">
                    <div class="title clickable" [innerHTML]="musician.profile.name | highlight: query">
                    </div>

                    <div class="location">
                        <span class="city">{{ musician.city }}</span>
                        <span *ngIf="musician.city && musician.country" class="comma">, </span>
                        <span class="country">{{ musician.country }}</span>
                    </div>
                </div>
            </div>

            <div class="right-tag"><span class="search-tag musician">Musician</span></div>
        </div>
    </div>

    <!-- Teachers -->
    <div *ngIf="results.teachers.length" class="section">
        <h4 class="section-title"><mat-icon>people</mat-icon> Teachers ({{ results.teachers.length }})</h4>

        <div *ngFor="let teacher of results.teachers" class="result-item row teacher-item"
            (click)="goToProfile(teacher.profile.id)">
            <div class="avatar profile-avatar">
                <img [src]="fileUtilsService.getImageUrl(teacher.profile.imageProfilePath)" alt="profile">
            </div>

            <div class="main-content">
                <div class="title-row column">
                    <div class="title clickable" [innerHTML]="teacher.profile.name | highlight: query">
                    </div>

                    <div class="location">
                        <span class="city">{{ teacher.city }}</span>
                        <span *ngIf="teacher.city && teacher.country" class="comma">, </span>
                        <span class="country">{{ teacher.country }}</span>
                    </div>
                </div>
            </div>

            <div class="right-tag"><span class="search-tag teacher">Teacher</span></div>
        </div>
    </div>

    <!-- PAGE -->
    <div *ngIf="filteredPages.length" class="section">
        <h4 class="section-title">
            <mat-icon>travel_explore</mat-icon>
            Pages ({{ filteredPages.length }})
        </h4>

        <div *ngFor="let page of filteredPages" class="result-item row page-item" (click)="goToPage(page)">
            <div class="left-icon">
                <mat-icon>public</mat-icon>
            </div>

            <div class="main-content">
                <div class="title-row">
                    <div class="title clickable" [innerHTML]="page.title | highlight: query"></div>
                </div>

                <div class="subline" [innerHTML]="page.keywords.join(', ')| highlight: query">
                </div>
            </div>

            <div class="right-tag">
                <span class="search-tag page">PAGE</span>
            </div>
        </div>
    </div>

    }@else {
    <br><br>
    <app-no-results></app-no-results>
    <br><br>
    }
</div>