<div class="overlay" *ngIf="favoritesService.isOpen()">
  <div class="panel-container">
    <div class="panel-header">
      <mat-icon class="header-icon">favorite</mat-icon>
      <div class="header-text">
        <p id="title">My Favorites</p>
      </div>
      <button class="close-btn" (click)="favoritesService.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <br>
    <div class="category-buttons">
      <button *ngFor="let cat of categories; let i = index" [class.active]="selectedCategory === cat"
        (click)="selectCategory(cat)">
        <mat-icon>{{ getCategoryIcon(cat) }}</mat-icon>
        {{ cat }} ({{count(cat)}})
      </button>
    </div>


    <div class="search-container">
      <mat-icon>search</mat-icon>
      <input id="qf" class="search-input" type="search" placeholder="Search your favorites..." [(ngModel)]="searchText"
        (input)="onSearch($event)" aria-label="search" />
    </div>

    <div class="favorites-scroll-container">
      <div class="favorites-content">
        <div *ngIf="isLoading" class="loading-indicator">
          <p>Loading favorites...</p>
        </div>

        <div *ngIf="!isLoading && currentFavorites.length > 0" class="favorites-list">
          <div *ngFor="let item of currentFavorites" class="favorite-item" (click)="goToItem(item)">
            <div class="item-info">
              <p *ngIf="item.targetType === 'POST'" class="item-title"
                [innerHTML]="getFavoriteName(item) | highlight: searchText">

              </p>

              <p *ngIf="item.targetType === 'SHEET_MUSIC'" class="item-title"
                [innerHTML]="getFavoriteName(item) | highlight: searchText">

              </p>

              <p *ngIf="item.targetType === 'POST'" class="item-snippet">
                {{ getPostContentSnippet(item) }}
              </p>

              <span *ngIf="item.targetType === 'SHEET_MUSIC'" class="item-composer">
                {{ getComposerOrActor(item) }}
              </span>

              <div class="likes-meta" *ngIf="item.details?.likes">
                <span class="likes-count">{{ item.details.likes }} likes</span>
              </div>
            </div>

            <div class="item-actions">
              <span *ngIf="item.targetType === 'SHEET_MUSIC' && getLevel(item)" class="item-level" [ngClass]="{
                      'level-advanced': getLevel(item) === 'Advanced',
                      'level-intermediate': getLevel(item) === 'Intermediate',
                      'level-beginner': getLevel(item) === 'Beginner'
                    }">
                {{ getLevel(item) }}
              </span>

              <mat-icon class="favorite-icon"
                (click)="removeFavorite(item); $event.stopPropagation()">favorite</mat-icon>
            </div>
          </div>
        </div>

        @if(!isLoading && currentFavorites.length === 0){
        <br><br><br>
        <app-no-results></app-no-results>
        }
      </div>
    </div>
  </div>
</div>