.pdf-container {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.pdf-container iframe {
  width: 100%;
  height: 600px;
  border: none;
}


