/* ודא שרכיב השורש מכסה את כל הדף ומקבל את רקע האב (שקוף כברירת מחדל) */
app-root {
    display: block; /* ודא שהוא מתנהג כאלמנט בלוק */
    height: 100%; /* ודא שהוא תופס את כל גובה ה-body */
    width: 100%;
    /* עדיף לא להגדיר לו רקע, אלא לתת לו להיות שקוף כדי שהרקע של body יופיע */
}