<article class="notification-card" [class.is-unread]="!note.isRead" (click)="handleNotificationClick()">
    <div class="notification-icon-wrapper">
        @if (note.userImage) {
        <img [src]="note.userImage" class="profile-avatar">
        } @else {
        <div class="notification-icon music-icon">
            <span>{{ getIconForType(note) }}</span>
        </div>
        }
        @if (!note.isRead) { <span class="unread-dot-glow"></span> }
    </div>

    <div class="notification-content">
        <!-- <h3 class="notification-title">title: {{ note.title }}</h3> -->
        <p class="notification-title">{{ note.content }}</p>
        <!-- <p class="notification-message">type: {{ note.type }}</p>
        <p class="notification-message">counter: {{ note.counter }}</p>
         <p class="notification-message">entityId: {{ note.entityId }}</p>
         <p class="notification-message">isRead: {{ note.isRead }}</p>
         <p class="notification-message">recipientId: {{ note.recipientId }}</p> -->
        <span class="notification-message">{{ note.createdAt | timeAgo }}</span>
    </div>

    <div class="notification-actions">
        @if (note.type === 'LIKES_FAVORITES' || note.type === 'COMMENTS') {
        <button class="view-button" (click)="navigateToPost(note.postId); $event.stopPropagation()">
            {{ note.type === 'COMMENTS' ? 'View Comments' : 'View Post' }}
        </button>
        }

        @if (note.type === 'FOLLOW_REQUEST_RECEIVED') {
        <div class="action-buttons">
            @if (followStatus != EFollowStatus.APPROVED) {
            <button class="btn-approve" (click)="approveAction($event)">
                <mat-icon>check_circle</mat-icon> Approve
            </button>
            }

            @if (followStatus !== EFollowStatus.DENIED) {
            <button class="btn-reject" (click)="rejectAction($event)">
                <mat-icon>cancel</mat-icon> Reject
            </button>
            }
        </div>
        }

        <button class="mark-as-read-button" (click)="onToggleClick($event)"
            [attr.aria-label]="note.isRead ? 'Mark as unread' : 'Mark as read'">
            {{ note.isRead ? 'Mark as Unread' : 'Mark as Read' }}
        </button>

        <button class="delete-icon-btn" (click)="delete.emit(note._id); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</article>