<article class="notification-card" [class.is-unread]="!note.isRead">
    <div class="notification-icon-wrapper">
        @if (note.userImage) {
        <img [src]="note.userImage" class="profile-avatar">
        } @else {
        <div class="notification-icon music-icon">
            <span>{{ getIconForType(note.type) }}</span>
        </div>
        }
        @if (!note.isRead) { <span class="unread-dot-glow"></span> }
    </div>

    <div class="notification-content">
        <h3 class="notification-title">{{ note.title }}</h3>
        <p class="notification-message">{{ note.message }}</p>
        <span class="notification-time">{{ note.createdAt | timeAgo }}</span>
    </div>

    <div class="notification-actions">
        <button class="mark-as-read-button" (click)="onClickMarkAsRead(); $event.stopPropagation()">
            {{ note.isRead ? 'Mark as unread' : 'Mark as read' }}
        </button>

        @if (note.type === 'LIKES_FAVORITES' || note.type === 'COMMENTS') {
        <button class="view-button" (click)="navigateToPost(note.postId)">
            {{ note.type === 'COMMENTS' ? 'View Comments' : 'View Post' }}
        </button>
        }

        <button class="delete-icon-btn" (click)="delete.emit()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</article>