<div>
    <h3>
        Find Musicians
        Connect with talented professionals for your next project
        Join Network
    </h3>
</div>

@if(users.length===0){
<p class="have-no-users"><b>There are currently no users to display.</b><br>
    Add new users to manage your work efficiently and neatly.<br><br>

    Take advantage of this tool to organize your day in the best way and achieve the goals you have set for yourself<br>
</p>
} 
 @else{

<div class="musicians-container">
    @for(u of users; track $index){
    <div (click)="showDetails(u)">
        <h3>name {{u.profile!.name}}</h3>  
        <h3>description {{u.description}}</h3>
        <h3>city {{u.city}}</h3>
        <h3>country {{u.country}}</h3>
        <div class="image-p">
        <img [src]="getImageUrl(u.profile!.imageProfilePath)"
              class="profile-image">
              </div>
    </div>
    }
</div>
} 
