.no-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3e4453;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon-circle .material-icons {
    font-size: 30px;
    color: #8c929e;
}

.message-text {
    font-size: 20px;
    font-weight: 500;
    color: #646c73;
    font-weight: bold;
}
