


<mat-toolbar color="primary" class="tunehub-header">
  
  <div class="logo-container">
    <img src="/TuneHub/public/TuneHub-logo.png" alt="TuneHub Logo" class="app-logo"> 
    <span class="logo-text">TuneHub</span>
    <span class="logo-platform-text">Professional Music Platform</span>
  </div>

  <span class="spacer"></span>
  
  <mat-form-field appearance="fill" class="search-field">
    <mat-icon matPrefix>search</mat-icon> <input matInput placeholder="Search musicians, tracks, lessons...">
  </mat-form-field>
  
  <button mat-icon-button>
    <mat-icon>person</mat-icon> </button>
  <button mat-flat-button color="accent">
    Find Musicians 
  </button>
  
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon> </button>
  
  <span class="nav-link">Sign In</span>
  
  <button mat-raised-button color="primary" class="get-started-button">
    Get Started
  </button>

</mat-toolbar>