/* 注祝  砖 专 */
.profile-avatar-wrapper {
    position: relative;
    cursor: pointer;
    /* ... 住转 住驻 ... */
}

/* 拽专 专 注爪 (注 砖 转 转/转) */
.profile-avatar-container {
    height: 45px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center; /* 专  */
    justify-content: center; /* 专 驻拽 */
    background-color: rgb(151, 32, 178); 
    text-align: center;
    color: white; /* 爪注 拽住 砖转 注 */
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 12px;
    border: 1px solid rgb(88, 169, 255);
    
    position: relative;
}

/* 住转 转转 拽 转 */
.profile-initials {
    /* 猸锔  专 转 -<span> 砖 转 转 转 -Div . */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*   住住 (注 拽) */
.online-indicator {
    position: absolute; /* 拽 住 拽专  */
    bottom: -1px; /*  注  */
    right: -1px; /*  注  */
    
    /* 专转  爪注 专专 */
    width: 10px; 
    height: 10px;
    background-color: #28a745; /*  爪注 专拽 拽 (Online) */
    border-radius: 50%;
    border: 2px solid white; /*   拽   转 */
}


/* ... (砖专 住转  .profile-picture -profile-dropdown) ... */

/*  砖转 转 转 拽专 专 (注) */
.profile-avatar-container .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%; /*   砖转 转 注 */
    object-fit: cover; /*  砖转 转 转  注  转注转 */
    display: block; /*  住专 专 转专 转转 转 */
}


